django==4.1.3                                 # web framework itself
djangorestframework                           # creating rest APIs
gunicorn                                      # application server
psycopg2-binary                               # postgres database adapter
requests
django-cors-headers
django_db_logger
tzdata
dj_database_url
django-environ
pyyaml
inotify                                       #dependency for using --reload arg with gunicorn for hotreload